
.157_82 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e157_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:452px;
	height:732px;
	position:absolute;
}
.e157_83 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:38px;
	position:absolute;
	left:7px;
	top:5px;
}
.e157_140 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:38px;
	position:absolute;
	left:7px;
	top:5px;
}
.e157_84 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width:399px;
	height:50px;
	position:absolute;
	left:27px;
	top:266px;
}
.e157_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width:399px;
	height:50px;
	position:absolute;
	left:27px;
	top:334px;
}
.e157_86 { 
	background-color:rgba(146.62499696016312, 209.4824856519699, 255, 1);
	width:399px;
	height:57px;
	position:absolute;
	left:27px;
	top:481px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e157_87 { 
	box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(252.00000017881393, 252.00000017881393, 253.0000001192093, 1);
	width:264px;
	height:57px;
	position:absolute;
	left:107px;
	top:623px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.e157_88 { 
	color:rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:47px;
	top:279px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_89 { 
	color:rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:47px;
	top:347px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width:399px;
	height:50px;
	position:absolute;
	left:25px;
	top:123px;
}
.e157_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width:399px;
	height:50px;
	position:absolute;
	left:25px;
	top:196px;
}
.e157_104 { 
	color:rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width:150px;
	height:24px;
	position:absolute;
	left:47px;
	top:136px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_105 { 
	color:rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width:39px;
	height:24px;
	position:absolute;
	left:47px;
	top:211px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_90 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:24px;
	position:absolute;
	left:184px;
	top:497px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_93 { 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:17px;
	position:absolute;
	left:185px;
	top:606px;
	font-family:Magra;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e157_94 { 
	color:rgba(0, 0, 0, 0.7200000286102295);
	width:202px;
	height:17px;
	position:absolute;
	left:83px;
	top:553px;
	font-family:Magra;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}
.e157_95 { 
	width:34px;
	height:32px;
	position:absolute;
	left:126px;
	top:635px;
	border-top-left-radius:68px;
	border-top-right-radius:68px;
	border-bottom-left-radius:68px;
	border-bottom-right-radius:68px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}



.e157_96 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:20px;
	position:absolute;
	left:210px;
	top:641px;
	font-family:Open Sans Hebrew;
	text-align:left;
	font-size:15px;
	letter-spacing:2;
}
.e157_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.7799999713897705);
	width:19px;
	height:16px;
	position:absolute;
	left:57.5px;
	top:553px;
	border-radius:2px;
}
.157_97 { 
	border:0.5px solid rgba(0, 0, 0, 1);
}
.e157_98 { 
	transform: rotate(180deg);
	width:30px;
	height:0px;
	position:absolute;
	left:42px;
	top:22px;
}
.157_98 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e157_99 { 
	opacity:0.75;
	width:298px;
	height:104px;
	position:absolute;
	left:83px;
	top:12px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e157_100 { 
	width:35px;
	height:30px;
	position:absolute;
	left:375px;
	top:347px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e157_108 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6399999856948853);
	width:399px;
	height:50px;
	position:absolute;
	left:26px;
	top:401px;
}
.e157_109 { 
	color:rgba(32.00000189244747, 121.00000038743019, 176.00000470876694, 1);
	width:157px;
	height:24px;
	position:absolute;
	left:46px;
	top:414px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e157_110 { 
	width:35px;
	height:30px;
	position:absolute;
	left:374px;
	top:414px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}

*{
justify-content: center;



}




